<h1>Snowcap IM Test page</h1>

<h2>Original image</h2>
<img src=" {{ asset('bundles/snowcapim/img/test.jpg')}}" />


<h2>Parsing HTML img tags</h2>
By using the <strong>imresize</strong> twig tag to parse your img src tags, resizing the images regarding the HTML width and/or height attributes

<pre>
    {% raw %}

    {% imresize %}

    &lt;p>some text&lt;/p>
    &lt;img src="{{ asset('bundles/snowcapim/img/test.jpg')}}" width="150" />
    &lt;img src="{{ asset('bundles/snowcapim/img/test.jpg')}}" height="100"/>

    {% endimresize %}
{% endraw %}
</pre>

Gives:

{% imresize %}

<p>some text</p>
<img src="{{ asset('bundles/snowcapim/img/test.jpg')}}" width="150" />
<img src="{{ asset('bundles/snowcapim/img/test.jpg')}}" height="100"/>

{% endimresize %}



<h2>Requesting a specific image conversion</h2>

Define some formats in your config.yml

<pre>
snowcap_im:
    binary_path: '/opt/local/bin/'
    formats:
        small:
            resize: 50x
            quality: 80
        medium:
            thumbnail: 100x100>
        square:
            resize: 100x100^
            gravity: center
            crop: 100x100+0+0
</pre>


Add the im routes:

<pre>
    SnowcapImBundle:
    resource: "@SnowcapImBundle/Resources/config/routing.yml"
</pre>

You can then render images by calling <strong>/cache/im/[your_format]/[image_web_path]</strong>
like
<pre>
    &lt;img src="\{\{ asset('cache/im/small/bundles/snowcapim/img/test.jpg')}}" />
    &lt;img src="\{\{ asset('cache/im/medium/bundles/snowcapim/img/test.jpg')}}" />
    &lt;img src="\{\{ asset('cache/im/square/bundles/snowcapim/img/test.jpg')}}" />
</pre>

<div>
    <img src=" {{ asset('cache/im/small/bundles/snowcapim/img/test.jpg')}}" />
    <img src=" {{ asset('cache/im/medium/bundles/snowcapim/img/test.jpg')}}" />
    <img src=" {{ asset('cache/im/square/bundles/snowcapim/img/test.jpg')}}" />
</div>

This format can also be a custom width and/or height mention, for example

<pre>
    &lt;img src="\{\{ asset('cache/im/120x60/bundles/snowcapim/img/test.jpg')}}" />
    &lt;img src="\{\{ asset('cache/im/120x/bundles/snowcapim/img/test.jpg')}}" />
    &lt;img src="\{\{ asset('cache/im/x60/bundles/snowcapim/img/test.jpg')}}" />
</pre>

<div>
    <img src=" {{ asset('cache/im/120x60/bundles/snowcapim/img/test.jpg')}}" />
    <img src=" {{ asset('cache/im/120x/bundles/snowcapim/img/test.jpg')}}" />
    <img src=" {{ asset('cache/im/x60/bundles/snowcapim/img/test.jpg')}}" />
</div>
